html 
  head 
    title='login page'
    link(
      href='/styles/style.css'
      rel='stylesheet'
    )  

  body
    div(class='welcome') 
      h1='NCDS.GOV.NG'

      div(class="login_form")
        h2= 'Login'

        form(action="/users/user_login", method="post")
          input(id="username" type="text" name="username" placeholder="username")
          input(id="password" type="text" name="password" placeholder="password")
          input(id="submit" type="submit" name="submit" value="login")

